<a href="https://colab.research.google.com/github/IndioP/Projeto_Ciencia_Dados/blob/main/preprocessamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

##Acidentes

In [ ]:
acidentes=pd.read_csv("/content/drive/MyDrive/ciencia-de-dados/dataset preprocessado/acidentes_transito_2015_2021.csv",delimiter = ';')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11,25,26,27,28,29,30,31,32,33,34,35,36,37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
acidentes.head()

         DATA          HORA  ... NUMERO_CRUZAMENTO REFERENCIA_CRUZAMENTO
0  2015-12-03  11:36:00.000  ...               NaN                   NaN
1  2015-06-01  06:35:00.000  ...               NaN                   NaN
2  2015-06-01  08:04:00.000  ...               NaN                   NaN
3  2015-06-01  08:06:00.000  ...               NaN                   NaN
4  2015-06-01  08:13:00.000  ...               NaN                   NaN

[5 rows x 42 columns]

In [ ]:
acidentes.dtypes

DATA                          object
HORA                          object
NATUREZA_ACIDENTE             object
SITUACAO                      object
BAIRRO                        object
ENDERECO                      object
NUMERO                        object
DETALHE_ENDERECO_ACIDENTE     object
COMPLEMENTO                   object
BAIRRO_CRUZAMENTO             object
NUM_SEMAFORO                 float64
SENTIDO_VIA                   object
TIPO                          object
DESCRICAO                     object
AUTO                         float64
MOTO                         float64
CICLOM                       float64
CICLISTA                     float64
PEDESTRE                     float64
ONIBUS                       float64
CAMINHAO                     float64
VIATURA                      float64
OUTROS                       float64
VITIMAS                      float64
VITIMASFATAIS                float64
ACIDENTE_VERIFICADO           object
TEMPO_CLIMA                   object
SITUACAO_SEMAFORO             object
SINALIZACAO                   object
CONDICAO_VIA                  object
CONSERVACAO_VIA               object
PONTO_CONTROLE                object
SITUACAO_PLACA                object
VELOCIDADE_MAX_VIA            object
MAO_DIRECAO                   object
DIVISAO_VIA1                  object
DIVISAO_VIA2                  object
DIVISAO_VIA3                  object
NATUREZA                     float64
ENDERECO_CRUZAMENTO           object
NUMERO_CRUZAMENTO             object
REFERENCIA_CRUZAMENTO         object
dtype: object

In [ ]:
#ajustando tipos dos dados

acidentes['DATA'] = pd.to_datetime(acidentes['DATA'], format='%Y-%m-%d', errors='ignore')
acidentes['HORA'] = pd.to_datetime(acidentes['HORA'], format='%H:%M:%S', errors = 'ignore')

acidentes = acidentes.astype({'NATUREZA_ACIDENTE':'category','SITUACAO':'category','BAIRRO':'category','ENDERECO':'category','NUMERO':'category','DETALHE_ENDERECO_ACIDENTE':'category','COMPLEMENTO':'category','BAIRRO_CRUZAMENTO':'category','NUM_SEMAFORO':'category','SENTIDO_VIA':'category','TIPO':'category','DESCRICAO':'category','AUTO':'float','MOTO':'float','CICLOM':'float','CICLISTA':'float','PEDESTRE':'float','ONIBUS':'float','CAMINHAO':'float','VIATURA':'float','OUTROS':'float','VITIMAS':'float','VITIMASFATAIS':'float','ACIDENTE_VERIFICADO':'category','TEMPO_CLIMA':'category','SITUACAO_SEMAFORO':'category','SINALIZACAO':'category','CONDICAO_VIA':'category','CONSERVACAO_VIA':'category','PONTO_CONTROLE':'category','SITUACAO_PLACA':'category','VELOCIDADE_MAX_VIA':'category','MAO_DIRECAO':'category','DIVISAO_VIA1':'category','DIVISAO_VIA2':'category','DIVISAO_VIA3':'category','NATUREZA':'category','ENDERECO_CRUZAMENTO':'category','NUMERO_CRUZAMENTO':'category','REFERENCIA_CRUZAMENTO':'category'})

In [ ]:
acidentes.dtypes

DATA                         datetime64[ns]
HORA                                 object
NATUREZA_ACIDENTE                  category
SITUACAO                           category
BAIRRO                             category
ENDERECO                           category
NUMERO                             category
DETALHE_ENDERECO_ACIDENTE          category
COMPLEMENTO                        category
BAIRRO_CRUZAMENTO                  category
NUM_SEMAFORO                       category
SENTIDO_VIA                        category
TIPO                               category
DESCRICAO                          category
AUTO                                float64
MOTO                                float64
CICLOM                              float64
CICLISTA                            float64
PEDESTRE                            float64
ONIBUS                              float64
CAMINHAO                            float64
VIATURA                             float64
OUTROS                              float64
VITIMAS                             float64
VITIMASFATAIS                       float64
ACIDENTE_VERIFICADO                category
TEMPO_CLIMA                        category
SITUACAO_SEMAFORO                  category
SINALIZACAO                        category
CONDICAO_VIA                       category
CONSERVACAO_VIA                    category
PONTO_CONTROLE                     category
SITUACAO_PLACA                     category
VELOCIDADE_MAX_VIA                 category
MAO_DIRECAO                        category
DIVISAO_VIA1                       category
DIVISAO_VIA2                       category
DIVISAO_VIA3                       category
NATUREZA                           category
ENDERECO_CRUZAMENTO                category
NUMERO_CRUZAMENTO                  category
REFERENCIA_CRUZAMENTO              category
dtype: object

In [ ]:
#Tentando gerar a coluna de Dia da semana...
#não ta funcionando por enquanto....
#precisamos rever


#acidentes['DIA_DA_SEMANA'] = acidentes['DATA'].to_timestamp
#acidentes['DIA_DA_SEMANA'].unique()
#acidentes['DIA_DA_SEMANA'] = acidentes['DIA_DA_SEMANA'].day_name()

In [ ]:
print(acidentes.isnull().sum()/len(acidentes))

DATA                         0.000000
HORA                         0.000947
NATUREZA_ACIDENTE            0.007267
SITUACAO                     0.000930
BAIRRO                       0.005631
ENDERECO                     0.004064
NUMERO                       0.544842
DETALHE_ENDERECO_ACIDENTE    0.855468
COMPLEMENTO                  0.062356
BAIRRO_CRUZAMENTO            0.129051
NUM_SEMAFORO                 0.915585
SENTIDO_VIA                  0.776787
TIPO                         0.000982
DESCRICAO                    0.220561
AUTO                         0.093422
MOTO                         0.745256
CICLOM                       0.992991
CICLISTA                     0.985190
PEDESTRE                     0.978405
ONIBUS                       0.852041
CAMINHAO                     0.900499
VIATURA                      0.988307
OUTROS                       0.988531
VITIMAS                      0.004718
VITIMASFATAIS                0.997382
ACIDENTE_VERIFICADO          0.749458
TEMPO_CLIMA                  0.739625
SITUACAO_SEMAFORO            0.742931
SINALIZACAO                  0.744464
CONDICAO_VIA                 0.740434
CONSERVACAO_VIA              0.744136
PONTO_CONTROLE               0.764956
SITUACAO_PLACA               0.764887
VELOCIDADE_MAX_VIA           0.921595
MAO_DIRECAO                  0.744567
DIVISAO_VIA1                 0.754624
DIVISAO_VIA2                 0.976718
DIVISAO_VIA3                 0.995505
NATUREZA                     1.000000
ENDERECO_CRUZAMENTO          0.200844
NUMERO_CRUZAMENTO            0.437403
REFERENCIA_CRUZAMENTO        0.249475
dtype: float64

*** As colunas abaixo vão ser retiradas pela falta de valores ser muito elevada em relação ao dataset***

NUMERO além de que essa granularidade seria muito especifica para o nosso foco

DETALHE_ENDERECO_ACIDENTE é um valor muito subjetivo e pouco padronizado

NUM_SEMAFORO é um numero que não significa muita coisa pro nosso foco

SENTIDO_VIA seria muito especifico para os testes que a gente vai fazer

DIVISAO_VIA2 existem poucas vias com 3 faixas

DIVISAO_VIA3 existem poucas vias com 4 faixas

NATUREZA essa coluna ta vazia

ENDERECO_CRUZAMENTO

NUMERO_CRUZAMENTO

REFERENCIA_CRUZAMENTO

In [ ]:
excluidos = acidentes[[ 'NUMERO','DETALHE_ENDERECO_ACIDENTE','NUM_SEMAFORO','SENTIDO_VIA','DIVISAO_VIA2','DIVISAO_VIA3','NATUREZA','ENDERECO_CRUZAMENTO','NUMERO_CRUZAMENTO','REFERENCIA_CRUZAMENTO']]
excluidos.head()

  NUMERO DETALHE_ENDERECO_ACIDENTE  ... NUMERO_CRUZAMENTO REFERENCIA_CRUZAMENTO
0    NaN                       NaN  ...               NaN                   NaN
1    NaN                       NaN  ...               NaN                   NaN
2    NaN                       NaN  ...               NaN                   NaN
3    NaN                       NaN  ...               NaN                   NaN
4    NaN                       NaN  ...               NaN                   NaN

[5 rows x 10 columns]

In [ ]:
#apagando algumas tabelas que não eram tão interessantes pra gente
acidentes = acidentes.drop([ 'NUMERO','DETALHE_ENDERECO_ACIDENTE','NUM_SEMAFORO','SENTIDO_VIA','DIVISAO_VIA2','DIVISAO_VIA3','NATUREZA','ENDERECO_CRUZAMENTO','NUMERO_CRUZAMENTO','REFERENCIA_CRUZAMENTO'], axis=1)

In [ ]:
acidentes.head()

        DATA          HORA  ... MAO_DIRECAO DIVISAO_VIA1
0 2015-12-03  11:36:00.000  ...         NaN          NaN
1 2015-06-01  06:35:00.000  ...         NaN          NaN
2 2015-06-01  08:04:00.000  ...         NaN          NaN
3 2015-06-01  08:06:00.000  ...         NaN          NaN
4 2015-06-01  08:13:00.000  ...         NaN          NaN

[5 rows x 32 columns]

In [ ]:
acidentes['auto'] = acidentes['auto'].fillna(0)
acidentes['moto'] = acidentes['moto'].fillna(0)
acidentes['ciclom'] = acidentes['ciclom'].fillna(0)
acidentes['ciclista'] = acidentes['ciclista'].fillna(0)
acidentes['pedestre'] = acidentes['pedestre'].fillna(0)
acidentes['onibus'] = acidentes['onibus'].fillna(0)
acidentes['caminhao'] = acidentes['caminhao'].fillna(0)
acidentes['viatura'] = acidentes['viatura'].fillna(0)
acidentes['outros'] = acidentes['outros'].fillna(0)

acidentes['vitimasfatais'] = acidentes['vitimasfatais'].fillna(0)

KeyError: ignored

In [ ]:
acidentes.head()

In [ ]:
acidentes['tipo'].unique()

KeyError: ignored

In [ ]:
acidentes['descricao'].unique()

In [ ]:
acidentes['natureza_acidente'].unique()

KeyError: ignored

In [ ]:
print(acidentes.isnull().sum())

In [ ]:
acidentes[acidentes['vitimas'].isnull() && acidentes['natureza_acidente'] == 'COM VÍTIMA']

SyntaxError: ignored

In [ ]:
comercios = pd.read_csv("/content/drive/MyDrive/ciencia-de-dados/dataset preprocessado/comercios_2015_2021_trimestre.csv",delimiter = ';')

In [ ]:
comercios.head()

    ANO  ...                                  NATUREZA_JURIDICA
0  2021  ...                      Sociedade Empresária Limitada
1  2021  ...                              Empresário Individual
2  2021  ...  Empresa Individual de Responsabilidade Limitad...
3  2021  ...  Empresa Individual de Responsabilidade Limitad...
4  2021  ...                      Sociedade Empresária Limitada

[5 rows x 19 columns]

In [ ]:
comercios.dtypes

ANO                           int64
TRIMESTRE                     int64
RAZAO_SOCIAL                 object
NOME_FANTASIA                object
CNPJ                         object
PORTE                        object
DATA_INICIO_OPERACAO         object
SITUACAO                     object
ATIVIDADE                    object
CEP                          object
UF                           object
LOCALIDADE                   object
BAIRRO                       object
LOGRADOURO                   object
DATA_GERACAO_CERTIFICADO     object
DATA_VALIDADE_CERTIFICADO    object
CODIGO_CERTIFICADO           object
CODIGO_DESCRICAO_CNAE        object
NATUREZA_JURIDICA            object
dtype: object

In [ ]:
excluidos = comercios[['ANO','TRIMESTRE','RAZAO_SOCIAL','NOME_FANTASIA','CNPJ','PORTE','SITUACAO','UF','DATA_GERACAO_CERTIFICADO','DATA_VALIDADE_CERTIFICADO','CODIGO_CERTIFICADO',	'CODIGO_DESCRICAO_CNAE',	'NATUREZA_JURIDICA']]
excluidos.head()

    ANO  ...                                  NATUREZA_JURIDICA
0  2021  ...                      Sociedade Empresária Limitada
1  2021  ...                              Empresário Individual
2  2021  ...  Empresa Individual de Responsabilidade Limitad...
3  2021  ...  Empresa Individual de Responsabilidade Limitad...
4  2021  ...                      Sociedade Empresária Limitada

[5 rows x 13 columns]

In [ ]:
comercios = comercios.drop(['ANO','TRIMESTRE','RAZAO_SOCIAL','NOME_FANTASIA','CNPJ','PORTE','SITUACAO','UF','DATA_GERACAO_CERTIFICADO','DATA_VALIDADE_CERTIFICADO','CODIGO_CERTIFICADO',	'CODIGO_DESCRICAO_CNAE',	'NATUREZA_JURIDICA'], axis=1)

In [ ]:
comercios.head()

  DATA_INICIO_OPERACAO  ...                            LOGRADOURO
0           25/10/1995  ...                        Amaro Coutinho
1           28/05/1996  ...  Av. Eneias Texeira de Carvalho n 101
2           06/04/1997  ...                             do Amparo
3           30/10/1997  ...                         de Casa Forte
4           03/10/2003  ...                            Boa Viagem

[5 rows x 6 columns]

In [ ]:
comercios['DATA_INICIO_OPERACAO'] = pd.to_datetime(comercios['DATA_INICIO_OPERACAO'], format='%Y-%m-%d', errors='ignore')
comercios = comercios.astype({'ATIVIDADE':'category',	'CEP':'category',	'LOCALIDADE':'category',	'BAIRRO':'category', 'LOGRADOURO':'category'})

**Equipamento velocidade vias**

In [ ]:
equipamento_velocidade_vias = pd.read_csv("/content/drive/MyDrive/ciencia-de-dados/dataset preprocessado/equipamento_velocidade_vias_2016_2021.csv",delimiter = ';')

In [ ]:
equipamento_velocidade_vias.head()

    ANO EQUIPAMENTO     TIPO  ... VELOCIDADE_VIA  LATITUDE  LONGITUDE
0  2016        5941  Lombada  ...        60 km/h -8.130970 -34.916161
1  2016        5942  Lombada  ...        60 km/h -8.130647 -34.915886
2  2016        5943  Lombada  ...        60 km/h -8.107843 -34.888161
3  2016        5944  Lombada  ...        60 km/h -8.080121 -34.892187
4  2016        5945  Lombada  ...        60 km/h -8.080820 -34.891159

[5 rows x 7 columns]

In [ ]:
excluidos = equipamento_velocidade_vias[['TIPO']]
excluidos.head()

      TIPO
0  Lombada
1  Lombada
2  Lombada
3  Lombada
4  Lombada

In [ ]:
equipamento_velocidade_vias = equipamento_velocidade_vias.drop(['TIPO'], axis=1)

In [ ]:
equipamento_velocidade_vias = equipamento_velocidade_vias.astype({'ANO':'category',	'EQUIPAMENTO':'category',	'LOGRADOURO':'category',	'VELOCIDADE_VIA':'category', 'LATITUDE':'category','LONGITUDE':'category'})

In [ ]:
equipamento_velocidade_vias.dtypes

ANO               category
EQUIPAMENTO       category
LOGRADOURO        category
VELOCIDADE_VIA    category
LATITUDE          category
LONGITUDE         category
dtype: object

**dataset de multas**

In [ ]:
multas = pd.read_csv("/content/drive/MyDrive/ciencia-de-dados/dataset preprocessado/relatorio_multas_2015_2021.csv",delimiter = ';')

NameError: ignored

In [ ]:
multas.head()

NameError: ignored

In [ ]:
excluidos = multas[['DATAIMPLANTACAO', 'AGENTEEQUIPAMENTO',	'AMPAROLEGAL']]
excluidos.head()

NameError: ignored

In [ ]:
multas = multas.drop(['DATAIMPLANTACAO', 'AGENTEEQUIPAMENTO',	'AMPAROLEGAL'], axis=1)

In [ ]:
multas['DATAINFRACAO'] = pd.to_datetime(multas['DATAINFRACAO'], format='%Y-%m-%d', errors='ignore')
multas['HORAINFRACAO'] = pd.to_datetime(multas['HORAINFRACAO'], format='%H:%M:%S', errors = 'ignore')
multas = multas.astype({'INFRACAO':'category', 'DESCRICAOINFRACAO':'category','LOCALCOMETIMENTO':'category'})

NameError: ignored

In [ ]:
multas.dtypes

**velocidades**

In [ ]:
velocidades = pd.read_csv("/content/drive/MyDrive/ciencia-de-dados/dataset preprocessado/velocidade_vias_media_15minutos_2016_2021.csv",delimiter = ';')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
velocidades.head()

    ANO  MES EQUIPAMENTO  ...  QTD_81A90KM QTD_91A100KM  QTD_ACIMADE100KM
0  2016  1.0    FS002REC  ...          0.0          0.0               0.0
1  2016  1.0    FS002REC  ...          0.0          0.0               0.0
2  2016  1.0    FS002REC  ...          0.0          0.0               0.0
3  2016  1.0    FS002REC  ...          0.0          0.0               0.0
4  2016  1.0    FS002REC  ...          0.0          0.0               0.0

[5 rows x 18 columns]

In [ ]:
velocidades['DATA'] = pd.to_datetime(velocidades['DATA'], format='%Y-%m-%d', errors='ignore')

velocidades = velocidades.astype({'ANO':'category',	'MES':'category',	'EQUIPAMENTO':'category',	'FAIXA':'category',	'HORA':'category',	'MINUTOS_INTERVALO':'category',	'QTD_0A10KM':'float',	'QTD_11A20KM':'float',	'QTD_21A30KM':'float',	'QTD_31A40KM':'float',	'QTD_41A50KM':'float',	'QTD_51A60KM':'float',	'QTD_61A70KM':'float',	'QTD_71A80KM':'float',	'QTD_81A90KM':'float',	'QTD_91A100KM':'float',	'QTD_ACIMADE100KM':'float'})

#**precisa verificar se o codigo do equipamento no dataset acima é igual ao codigo do equipamento do dataset das multas**